.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 4rem;
  padding: 0 8rem;
  /* justify-content: center; */
  gap: 2.5rem;
}
.menu-container {
  display: flex;
  /* border: 1px solid red; */
}

.menu-container img {
  height: 150px;
  width: 225px;
  object-fit: cover;
  border: 5px solid #50786d;;
  border-radius: 3px;
}

.info {
  margin-left: 1rem;
}

.info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted #50786d;
  text-transform: capitalize;
}

.info p {
  width: 350px;
  margin-top: 1rem;
  color: #50786d;
}

@media screen and (max-width: 780px) {
  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



    .menu-container img {
      height: 150px;
      max-width: 150px;
      object-fit: cover;
    }
}
@media screen and (max-width: 480px) {
  .info p {
      width: 230px;
    }
   .menu-container img {
    height: 120px;
    max-width: 110px;
    object-fit: cover;
   }
}
